In [328]:
import numpy as np
import pandas as pd

####tabular data structure
####ordered collection of columns
####each column can be of a different type - numeric, string, boolean
####row and column index

In [329]:
#WA = Western Australia, NSW = New South Wales

In [330]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
     'year': [2000, 2001, 2002, 2001, 2002],
     'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

##Question: What is the type of "data"?

In [1]:
#TODO convert data to a data frame
#TODO display the data frame (do not use print)

##Question: What do you notice about the index?
##Question: What do you notice about the ordering of the columns?

In [333]:
#TODO using the same column names re-order the columns to be "year", "state", "pop"

In [335]:
#TODO add the following index ['one', 'two', 'three', 'four', 'five'] and display the data frame

In [337]:
#TODO redefine a new data frame using columns = ['year', 'state', 'pop', 'debt'],
#and index = ['one', 'two', 'three', 'four', 'five'] and display it
#Note carefully that this creates a columns of 'NaN's

####Each column is a Series, which is a pandas data structure in it's own right.
####There a number of notations used to access the columns of a data frame

In [340]:
#TODO Display the state column using 1. square bracket notation, and 2. dot notation

In [343]:
#TODO print out the types of data frame, 
#the column using bracket notation, and the column using dot notation

In [345]:
#TODO Display the third row of the data frame

In [347]:
#TODO Set the debt column to a scalar (e.g. 5.6), and redisplay the data frame

In [349]:
#TODO now set the debt to the states as increasing integers, starting at 0 - a single
#line of code, and redisplay the data frame

In [351]:
#TODO create a new Series using this data [-1.2, -1.5, -1.7] and 
#an index of ['two', 'four', 'five]. Display the Series

In [353]:
#TODO assign this Series to the 'debt' column of your data frame and redisplay

In [355]:
#TODO Create a new column called eastern. This column will contain boolean values based on 
#whether the state is on the west coast or east coast of Australia. Create the column using
#a boolean expression based up on the fact that 'NSW' is east coast and 'WA' west coast. 
#Redisplay

In [357]:
#TODO Delete the 'eastern' column and redisplay

In [361]:
#TODO Create a nested dictioinary of dictionary of dictionaries using the following data:
#Victoria 2001 4.9  Victoria 2002 5.2  Tasmania 2000 0.498  Tasmania 2001 0.499 
#Tasmania 2002 0.501

In [363]:
#TODO Now convert the dictionary of dictionaries to a data frame and display it

##Question:
##The outer dictionary keys become ... of the data frame
##The inner dictionary keys become ... of the data frame

In [365]:
df3 = pd.DataFrame({'state': ['WA', 'WA', 'WA', 'NSW', 'NSW'], 
                    'year': [2010, 2011, 2012, 2013, 2014], 
                    'pop': [2.3, 2.4, 2.5, 7.5, 7.3]})
df3

   pop state  year
0  2.3    WA  2010
1  2.4    WA  2011
2  2.5    WA  2012
3  7.5   NSW  2013
4  7.3   NSW  2014

In [ ]:
#TODO Delete the year column

In [368]:
#TODO create a new index using the years and redisplay
#TODO try reindex instead of index and see what happens

In [370]:
#TODO Transpose the data frame and display

In [372]:
#TODO print the last 2 rows of the data frame (using the data frame before the transpose
#exercise
#TODO print the last 2 populations for the state of WA

In [374]:
#TODO Change the index of the data frame to [2009, 2010, 2011, 2012, 2013, 2014, 2015] 
#using index
#TODO Change the index using reindex
#and redisplay

In [377]:
#TODO Redo the last exerise and forward fill the unknown values

In [379]:
#TODO Redo the last exerise and back fill the unknown values

In [381]:
#TODO print just the population values

In [383]:
#TODO print just the values of the data frame itself

In [385]:
#Consider the following data frame
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]], index=['a', 'b', 'c', 'd'], columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [386]:
#TODO print out the following:
#the data frame sum, where sum has no arguments
#the sum of the rows
#the sum of the columns
#the sum of the columns setting skipping NaNs to False
#the sum of the columns setting skipping NaNs to True

In [388]:
#TODO Find the maximum values for the data frame
#TODO Find the indices for the maximum these

####Other useful methods include: quantile, sum, mean, median, mad (mean absolute deviation), var, std ...

In [390]:
pdf1 = pd.DataFrame([[1, 2], [3, 4], [5, 5], [1, 2], [2, 2], [3, 3]], columns=['x', 'y'])
pdf1

   x  y
0  1  2
1  3  4
2  5  5
3  1  2
4  2  2
5  3  3

In [391]:
#TODO Display the correlation matrix for the data frame

In [393]:
#TODO Display the covariance matrix for the data frame

####All descriptive statistics on pandas objects exclude missing data
####NaN represents missing data
####Remember NaN comes from the numpy library - hence np.NaN

In [396]:
da = pd.Series([1, 2, 3, 4, np.NaN, 6, 7, 8, np.NaN, 10])
da

0     1
1     2
2     3
3     4
4   NaN
5     6
6     7
7     8
8   NaN
9    10
dtype: float64

In [ ]:
#TODO Filter out the NaNs using dropna and display the result

In [ ]:
####or you can imput certain values

In [ ]:
#TODO Impute the data mean into the missing values and display the Series

In [ ]:
#TODO Insert 0 into the missing values and display the Series

#Now let's work on a real dataset

##A little pre-reading if you don't know about clicks and impressions and click-through-rateshttp://en.wikipedia.org/wiki/Click-through_rate

In [ ]:
nyt_data = pd.read_csv("<your directory here>/GADS-22-NYC/Datasets/nyt1.csv")

In [ ]:
#TODO Describe the dataset

In [ ]:
#TODO List the types for each of the columns of data

In [ ]:
#TODO find the number of rows where individuals were not signed into the website,
#and the number where they were signed in

In [ ]:
#TODO Remove the rows where users were NOT signed into the website

In [ ]:
#TODO Futher remove any rows where the number of impressions was 0, i.e. keep the records
#where the number of impressions was greater than zero

In [ ]:
#TODO How many rows are left in the database?

In [ ]:
#TODO List the first 10 lines of the data frame

####Here is a way of creating an age group

####Firstly, write a Python function, which has a single input - age, and return as string - the age group

In [ ]:
def age_grouping(age):
    '''This function inputs a single age and returns a string 
    which represents the age group within which the input age falls'''
    
    if age < 18:
        return "<18"
    elif age < 25:
        return "18-24"
    elif age < 35:
        return "25-34"
    elif age < 45:
        return "35-44"
    elif age < 55:
        return "45-54"
    elif age < 65:
        return "55-64"
    else:
        return "65+"

####Note the comment in the function
####This is called a doc string and it is good practice to include doc strings in all functions you write
####See what happens when you execute the following

In [ ]:
help(age_grouping)

####The apply function is an enormously helpful function built into the Pandas dataframe datastructure
####This can apply a function to 1 dimensional arrays, either a column or a row
####It requires the use of 'lamda' which is a Python construct. lambda is how Python implements anonymous functions, which are functions that are not bound to a name

####An example

In [ ]:
#Take a list of ages
age_list = [17, 21, 55, 23, 43, 32, 78]

In [ ]:
#We can insert the lambda into a list comprehension in order to process the list and send each
#member to the age_grouping function
[(lambda x: age_grouping(x))(age) for age in age_list]

####We could have done this

In [ ]:
age_group_list=[]
for age in age_list:
    age_group_list.append(age_grouping(age))
print age_group_list

####Putting this altogether

In [ ]:
nyt_data['Age_group'] = nyt_data.Age.apply(lambda x: age_grouping(x))

In [ ]:
nyt_data.head(10)

In [ ]:
for age_gp, subset in nyt_data.groupby('Age_group'):
    print age_gp, subset[subset.Clicks == subset.Clicks.max()].Impressions.values

In [ ]:
#TODO Create a new column called 'ctr' for click-through-rate and populate it with Clicks/Impressions

In [ ]:
#TODO Show that the new column is a float

In [ ]:
#TODO Display the data frame utilizing the groupby function to show the counts of the ctr by age group

In [ ]:
#TODO Display the data frame utilizing the groupby function to show the sums of the ctr by age group

In [ ]:
#TODO This presents the sum of the click through rates by age group, but does not take into account the differing
#numbers in each group
#TODO Redisplay the data frame by dividing by the count in each group

In [ ]:
#TODO display the correlation matrix for the data frame

In [ ]:
#TODO Display the correlation coefficient between the Clicks and the ctr
#TODO Display the correlation coefficient between the ctr and Impressions