---
#Introduction to the Pandas data time tools
---

#####Datetime stores both date and time, time is stored to the microsecond

In [29]:
from datetime import datetime
from datetime import timedelta
import pandas as pd

In [3]:
now = datetime.now()
now

datetime.datetime(2015, 8, 8, 22, 40, 40, 507406)

In [4]:
now.year, now.month, now.day

(2015, 8, 8)

#####Temporal Difference using timedelta

In [9]:
delta = datetime(2015, 9, 1) - datetime(2014, 9, 1, 8, 15)
delta

datetime.timedelta(364, 56700)

In [10]:
delta.days, delta.seconds

(364, 56700)

#####Add 12 days

In [16]:
start = datetime(2000, 1, 1)
start + timedelta(12)

datetime.datetime(2000, 1, 13, 0, 0)

#####Subtract 24 days

In [17]:
start - 2 * timedelta(12)

datetime.datetime(1999, 12, 8, 0, 0)

#####Formatting datetime objects and Pandas timestamp objects

In [19]:
stamp = datetime(2000, 1, 1)
str(stamp)

'2000-01-01 00:00:00'

In [21]:
stamp.strftime('%Y-%m-%d')

'2000-01-01'

#####or convert strings to datatime objects
#####datetime.strptime() is the best way to parse dates in strings with a known format
#####BUT you have to write the format each time, you can try the parser.parse method in the dateutil package

In [22]:
value = '2000-01-01'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2000, 1, 1, 0, 0)

In [23]:
from dateutil.parser import parse

In [24]:
parse('2000-01-01')

datetime.datetime(2000, 1, 1, 0, 0)

In [26]:
parse('Aug 8 2015 6:45 PM')

datetime.datetime(2015, 8, 8, 18, 45)

In [27]:
parse('6/12/2000', dayfirst = True)

datetime.datetime(2000, 12, 6, 0, 0)

#####Pandas generally work with arrays of dates

In [28]:
list_of_dates = ['1/1/2000', '2/1/2000', '3/1/2000', '4/1/2000', '5/1/2000', '6/1/2000', '7/1/2000', '8/1/2000', '9/1/2000', '10/1/2000', '11/1/2000', '12/1/2000']

In [30]:
pd.to_datetime(list_of_dates)

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01', '2000-11-01', '2000-12-01'],
              dtype='datetime64[ns]', freq=None, tz=None)

In [37]:
idx = pd.to_datetime(['1/1/2000', '2/1/2000'] + [None])
idx

DatetimeIndex(['2000-01-01', '2000-02-01', 'NaT'], dtype='datetime64[ns]', freq=None, tz=None)

#####For timeseries we have Not a Time or NaT (cf Na)

In [39]:
pd.isnull(idx)

array([False, False,  True], dtype=bool)